@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  transition: all;
  transition-duration: 300;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
width: 10px;
}

::-webkit-scrollbar-thumb{
background-color: rgba(2, 67, 0, 0.53);
}
.customscroll1::-webkit-scrollbar{
height: 4px;
}

.customscroll1::-webkit-scrollbar-thumb{
background-color: rgba(0, 0, 0, 0.982);
}

.shadow1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}